h2 {
    text-align: center;
    font-size: 2.5rem;
    color: #ff0000;
}


.delete-title {
    text-align: center;
    font-weight: 900;
    font-size: 1.6rem;
    padding: 15px;
    color: #fff;
}

.head-flex{
    display: flex;
    justify-content: space-between;
    gap: 5px;
}

.btn-flex {
    display: flex;
    flex-direction: row-reverse;
    gap: 5px;
}

.btn-flex p {
    display:none;
    font-size: 2rem;
    margin-top: 20px;
    margin-right: 10px;
    color: #F00;

}

.btn-top-chk:hover + p {
    display: block;
}


.main-board-grid {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
}

.delete-left {
    display: grid;
    gap: 10px;
}

.delete-info {
    display: flex;
    justify-content: space-between;
}

.delete-info1{
    background-color: #98B6D8;
    width: 70px;
    height: 40px;
    line-height: 40px;
    border-radius: 30px 0 0 30px;
    color: #fff;
    font-weight: 900;
    font-size: 1.3rem;
}

.delete-info2{
    background-color: #F9F9F9;
    width: 140px;
    height: 40px;
    line-height: 40px;
    border-radius: 0 30px 30px 0;
    font-size: 1.2rem;
}

.delete-date{
    height: 80px;
}

.delete-content-title {
    background-color: #98B6D8;
    width: 400px;
    height: 40px;
    line-height: 40px;
    border-radius: 30px 30px 0 0;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 900;
}

.delete-content {
    background-color: #F9F9F9;
    width: 400px;
    height: 370px;
    line-height: 50px;
    border-radius: 0 0 30px 30px;
    padding: 10px 20px;
    resize: none;
    font-size: 1.2rem;
}

.delete-right{
    display: grid;
    gap: 10px;
}

.delete-photo-title {
    background-color: #98B6D8;
    width: 200px;
    height: 40px;
    line-height: 40px;
    border-radius: 30px 30px 0 0;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 900;
}

.delete-photo {
    background-color: #F9F9F9;
    width: 200px;
    height: 160px;
    border-radius: 0 0 30px 30px;
    padding: 5px;
}

.info-image{
    max-width: 180px;
    max-height: 130px;
    margin: 0 auto;
}
