.detail-title {
    text-align: center;
    font-weight: 900;
    font-size: 1.6rem;
    padding: 15px;
}

.main-board-grid {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
}

.detail-left {
    display: grid;
    gap: 10px;
}

.detail-info {
    display: flex;
    justify-content: space-between;
}

.detail-info1{
    background-color: #98B6D8;
    width: 70px;
    height: 40px;
    line-height: 40px;
    border-radius: 30px 0 0 30px;
    color: #fff;
    font-weight: 900;
    font-size: 1.3rem;
}

.detail-info2{
    background-color: #F9F9F9;
    width: 140px;
    height: 40px;
    line-height: 40px;
    border-radius: 0 30px 30px 0;
    font-size: 1.2rem;
}

.detail-date{
    height: 80px;
}

.detail-content-title {
    background-color: #98B6D8;
    width: 400px;
    height: 40px;
    line-height: 40px;
    border-radius: 30px 30px 0 0;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 900;
}

.detail-content {
    background-color: #F9F9F9;
    width: 400px;
    height: 370px;
    line-height: 50px;
    border-radius: 0 0 30px 30px;
    padding: 10px 20px;
    resize: none;
    font-size: 1.2rem;
}

.detail-right{
    display: grid;
    gap: 10px;
}

.detail-photo-title {
    background-color: #98B6D8;
    width: 200px;
    height: 40px;
    line-height: 40px;
    border-radius: 30px 30px 0 0;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 900;
}

.detail-photo {
    background-color: #F9F9F9;
    width: 200px;
    height: 140px;
    border-radius: 0 0 30px 30px;
}

.top-info-image{
    width: 180px;
    height: 130px;
    margin: 10px;
}

.bottom-info-image{
    width: 180px;
    height: 130px;
    margin: 10px;
}