.update-title {
    /* text-align: center; */
    /* font-weight: 900;
    font-size: 1.6rem; */
    /* padding: 15px; */
    background-color: #6FB2FF;
    border-radius: 50px 50px 0 0;
    width: 940px;
    height: 60px;
    line-height: 60px;
    text-align: center;
    color: #fff;
    font-weight: 900;
    font-size: 1.6rem;
    outline: none;
}

.main-board-grid {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 20px;
}

.update-left {
    display: grid;
    gap: 10px;
}

.update-info {
    display: flex;
    justify-content: space-between;
    min-height: 40px;
}

.update-info1{
    background-color: #98B6D8;
    width: 70px;
    height: 40px;
    line-height: 40px;
    border-radius: 30px 0 0 30px;
    color: #fff;
    font-weight: 900;
    font-size: 1.3rem;
}

.update-info2{
    background-color: #F9F9F9;
    width: 140px;
    height: 40px;
    line-height: 40px;
    border-radius: 0 30px 30px 0;
    font-size: 1.2rem;
}

.update-date{
    height: 80px;
}

.update-content-title {
    background-color: #98B6D8;
    width: 400px;
    height: 40px;
    line-height: 40px;
    border-radius: 30px 30px 0 0;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 900;
}

.update-content {
    background-color: #F9F9F9;
    width: 400px;
    height: 370px;
    line-height: 50px;
    border-radius: 0 0 30px 30px;
    padding: 10px 20px;
    resize: none;
    font-size: 1.2rem;
}

.update-right{
    display: grid;
    grid-template-rows: 1fr 1fr;
    gap: 10px;
}

.update-photo-title {
    background-color: #98B6D8;
    width: 200px;
    height: 40px;
    line-height: 40px;
    border-radius: 30px 30px 0 0;
    color: #fff;
    font-size: 1.3rem;
    font-weight: 900;
}

.update-photo {
    background-color: #F9F9F9;
    width: 200px;
    height: 140px;
    border-radius: 0 0 30px 30px;
    padding: 5px;
}

.update-photo input {
    width: 180px;
}

.info-image{
    max-width: 180px;
    max-height: 130px;
    margin: 0 auto;
}