* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
}

html, body {
    scroll-behavior: smooth;
}

button {
    font-family: "Freeman", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.container {
    display: grid;
    grid-template-rows: repeat(2, minnax(auto-fill, 1fr));
    min-height: 900px;
}

a {
    text-decoration: none;
    color: #ffffff;
}

/* head */

h1, .head-box {
    display: inline-block;
}

.head-cover {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    background-image: url(./img/img_1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 2rem;
    gap: 1rem;
}

h1 {
    font-size: 4rem;
    font-weight: 900;
    margin: 3.5rem 0;
}


.head-p {
    margin-bottom: 2rem;
    font-size: 1.5rem;
    padding-bottom: 1rem;
}

.btn-head {
    background-color: goldenrod;
    color: #fff;
    padding: 0.5rem;
    font-size: 1.5rem;
    width: 250px;
    border: none;
    border-radius: 5px;
}

.btn-head:hover {
    opacity: 0.6;
    transition: all 0.5s;
}


/* main */

.main {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    padding: 2rem;
    gap: 2rem;
    margin-bottom: 5rem;
}

.card {
    border-radius: 10px;
    padding: 1rem;
    border: 1px solid #aaaaaa;
}

.card-img {
    padding-top: 80%;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
}


h3 {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    height: 3rem;
    line-height: 2rem;
    font-size: 1rem;
    padding: 0.5rem;
    font-weight: 900;
}

.card-text {
    margin: 1rem 0;
}

.btn-main {
    background-color: goldenrod;
    color: #fff;
    padding: 0.5rem 0;
    font-size: 1.2rem;
    width: 100%;
    border: none;
    border-radius: 5px;
    margin-bottom: 0;
}


/* footer */
.footer {
    position: fixed;
    bottom: 0;
    background-color: #3a3a3a;
    color: #fff;
    padding: 1.5rem;
    text-align: center;
    width: 100vw;
    font-size: 0.7rem;
    display: inline-block;
}