.center {
    background-color: black;
    color: white;
    text-shadow: 3px 2px 5px black;
    text-align: center;
    height: 50px;
    line-height: 50px;
}

.tb-th {
    background-color: lightgray;
}
