.index{
  background-image: url(../img/background_img.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 50px;
  overflow: hidden;
  color: #fff;
  display: grid;
  grid-template-columns: 3fr 1fr;
}
  
.index h1{
  font-weight: 600;
  font-size: 6rem;
}

.index_btn {
  margin-right: 450px;
  margin-top: 510px;
}

.index_btn button{
  width: 150px;
  height: 50px;
  border-radius: 30px;
  background-color: #16263E;
  border: none;
  color: #fff;
  font-size: 1.5rem;
  letter-spacing: 5px;
}

.index_btn button:hover{
  background-color: #94BAB1;
}