/* .item-box {
    display: grid;
    grid-template-columns: 1fr 3fr;
    margin-bottom: 10px;
    padding: 10px;
    border: none;
    font-size: 1.2rem;
}

.item {
    background-color: #57A0FF;
    color: #fff;
    padding: 10px;
    border-radius: 40px 0 0 40px;
    text-align: center;
}

.item1 {
    margin-top: 50px;
}

textarea {
    background-color: #fff;
    border-radius: 0 40px 40px 0;
    border: none;
    resize: none;
    outline: none;
    font-size: 1.1rem;
    padding: 10px;
} */


/* 수업 */

.box {
    display: grid;
    grid-template-columns: 200px 1fr;
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #fff;
    font-weight: 900;
    /* height: 50px; */
    min-height: 50px;
}

.main-content {
    margin-top: 50px;
}

.box-title {
    background-color: #57A0FF;
    border-radius: 40px 0 0 40px;
    display: flex; /* 이거 중앙정렬하기위함 */
    justify-content: center; /* 이거 중앙정렬하기위함 */
    align-items: center; /* 이거 중앙정렬하기위함 */
}

.box-content{
    background: #fff;
    border-radius: 0 40px 40px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-weight: 400;
    padding: 10px;
}


.box img{
    max-width: 500px;
    max-height: 600px;
}